/src/__pycache__
/data/processed
/outputs
/scripts/__pycache__
/src/evaluation/__pycache__
/src/evaluation/metrics/__pycache__
/src/reporting/__pycache__
/src/visualization/__pycache__
/src/benchmarking/__pycache__
